html, div {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#header, #footer {
  flex: 0 0 50px;
  background-color: green;
}

#content {
  display: flex;
  flex: auto;
}

.btn {
  flex: none;
  align-self: flex-start;
}

.triangle {
  flex: 0 0 50px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.triangle-intro {
  font-size: 12px;
  color: blue;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #fefefe;
}

.triangle-up:hover {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #eee;
  cursor: pointer;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #fefefe;
}

.intro {
  flex: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.intro-content {
  height: calc(100% - 200px);
  color: white;
  background-color: gray;
  overflow: auto;
}

.intro-spec {
  background-color: blue;
  height: 200px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.new-messages-tip {
  position: absolute;
  top: 15px;
  align-self: center;
  height: 30px;
  color: orange;
  cursor: pointer;
}